@import url(reset.css);

body{
   background-color: #eee;
   line-height: 1.6;
   font-weight: bold;
}

.icon{
   width: 80%;
   margin: 0 auto;
   padding: 20px;

   display: flex;
   justify-content: space-around;
}

.line{
	display: block;
	width: 80%;
	height: 3px;
	background-color: orange;
	margin: 0 auto;
}

h1{
   background-image: url('../images/topBG.jpg');
   line-height: 150px;
   text-align: center;
   color: white;
   font-size: 4.5em;
   margin-bottom: 50px;
   text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

/* ---------header--------- */
header{
   width: 80%;
   height: 450px;
   margin: 0 auto 50px auto;
   background-image: url('../images/titleBG.jpg');
   background-size: cover;
   background-position: center bottom;

   display: flex;
   justify-content: center;
   align-items: flex-end;
}

header img{
   width: 400x;
   height: 400px;
   margin-right: 50px;
}

header .introduction{
   width: 400px;
   height: 400px;
   background-color: #fff;
   padding: 25px 40px;
   box-sizing: border-box;
   font-size: 20px;
}

header .introduction2{
   display: none;
}

/* ---------myself--------- */
.container{
   width: 80%;
   margin: 0 auto;
   text-align: center;

   display: flex;
   justify-content: space-around;
}

.myself{
   padding: 50px;
}

.myself h2{
   font-size: 3.5em;
   color: #8b7342;   
   text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

.myself h3{
   font-size: 1.5em;
}

.img{
   display: flex;
   align-items: center;
}

.container img{
   width: 425px;
   height: 640px;
}

/* ---------pro--------- */
.pro{
   text-align: center;
   padding: 50px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.pro h4{
   font-size: 3.5em;
   color: #8b7342;   
   text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

.pro ul{
   font-size: 1.5em;
   text-align: left;
   margin-right: 20px;
}

.pro li{
   background-color: #fff;
   border-radius: 10px;
   padding: 20px;
   position: relative;
}

.pro li:not(:last-child){
   margin-bottom: 10px;
}

.pro i{
   position: absolute;
   top: -5px;
   right: -5px;

   color: red;
}

.pro span{
   color: orange;
}

/* ---------wrapper--------- */
.wrapper{
   width: 80%;
   margin: 0 auto 50px auto;
   text-align: center;
   padding: 50px;
   
   display: flex;
   align-items: center;
   justify-content: space-around;
}

/* ---------wrapper exp--------- */
.swiper{
   width: 50%;
   height: 500px;
   margin: 0;

   order: 2;
}

.swiper-slide{
   font-size: 1.5em;

   display: flex;
   justify-content: center;
   align-items: center;
}

/* ---------wrapper video--------- */
.exp{
   width: 50%;

   order: 1;
}

.exp h5{
   font-size: 3.5em;
   color: #8b7342;   
   text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

.video{
   width: 640px;
   height: 360px;
   margin: 0 auto;
}

iframe{
   width: 100%;
   height: 100%;
}

/* ---------toTop--------- */
.toTop{
	display: block;
	width: 70px;
	height: 70px;
	background-color: darkred;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 50px;
	bottom: 60px;
	text-decoration: none;
	border-radius: 50%;
	font-size: 2em;

   z-index: 1;
}

/* ---------RWD--------- */
@media screen and (max-width: 1700px) {

   .swiper-slide{
      font-size: 1.4em;
   }
   
}

@media screen and (max-width: 1620px) {

   .video{
      width: 100%;
      height: auto;
      padding-bottom: 56.25%;
      background-color: black;

      position: relative;
   }

   iframe{
      position: absolute;
      left: 0;
      top: 0;
   }
   
}

@media screen and (max-width: 1536px) {

   .swiper-slide{
      font-size: 1.3em;
   }
   
}

@media screen and (max-width: 1440px) {

   .myself h3{
      font-size: 1.4em;
   }

   .swiper-slide{
      font-size: 1.2em;
   }
   
}

@media screen and (max-width: 1366px) {

   h1{
      font-size: 4em;
   }
   
   .swiper-slide{
      font-size: 1.1em;
   }

   .myself h2{
      font-size: 3em;
   }

   .pro h4{
      font-size: 3em;
   }

   .exp h5{
      font-size: 3em;
   }

}

@media screen and (max-width: 1180px) {

   header{
      width: 100%;
   }

   .myself{
      padding: 25px;
   }

   .myself h3{
      font-size: 1.2em;
   }

   .container img{
      width: 425px;
      height: 600px;
   }

   .swiper-slide{
      font-size: 1em;
   }

}

@media screen and (max-width: 1024px) {

   header img{
      width: 300x;
      height: 300px;
   }
   
   header .introduction{
      width: 300px;
      height: 300px;
      padding: 10px 20px;
      box-sizing: border-box;
      font-size: 1em;
   }

   .myself{
      padding: 5px;
      margin: 20px 0;
   }

   .myself h2{
      font-size: 2.8em;
   }

   .myself h3{
      font-size: 1.08em;
   }

   .pro h4{
      font-size: 2.8em;
   }

   .exp h5{
      font-size: 2.8em;
   }

   .container img{
      width: 300px;
      height: 400px;
   }

   .wrapper{
      flex-direction: column;
   }

   .swiper{
      width: 100%;
      height: 400px;
      margin: 0;
   
      order: 2;
   }
   
   .exp{
      width: 100%;
   
      order: 1;
   }

   .swiper-slide{
      font-size: 1.4em;
   }

}

@media screen and (max-width: 920px) {

   .container img{
      width: 280px;
      height: 380px;
   }

   .myself h3{
      font-size: 1em;
   }
   
}

@media screen and (max-width: 768px) {

   .img{
      display: none;
   }

   .myself h3{
      font-size: 1.5em;
   }
   
}

@media screen and (max-width: 640px) {

   h1{
      font-size: 3em;
      margin-bottom: 30px;
      line-height: 80px;
   }

   .icon{
      width: 50%;
      padding: 10px;
   
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }

   .icon .fa-solid:not(:last-child){
      margin-bottom: 5px;
   }

   header{
      height: 300px;
      margin: 0 auto 30px auto;
   }

   header img{
      width: 250px;
      height: 250px;
      margin-right: 20px;
   }

   header .introduction{
      width: 250px;
      height: 250px;
      padding: 10px 20px;
      box-sizing: border-box;
      font-size: 13px;
   }

   .myself{
      padding: 5px;
      margin: 20px 0;
   }

   .myself h3{
      font-size: 1.3em;
   }

   .pro{
      padding: 10px;
      margin-bottom: 15px;
   }
   
   .pro ul{
      font-size: 1.2em;
   }

   .pro img{
      width: 150px;
   }

   .wrapper{
      width: 100%;
      padding: 0px;     
   }

   .swiper{
      height: 300px;
   }

   .swiper-slide{
      font-size: 1.1em;
   }

   .exp{
      width: 90%;
   }

   .toTop{
      width: 50px;
      height: 50px;
      right: 30px;
      bottom: 30px;
      font-size: 1em;
   }
   
}

@media screen and (max-width: 428px) {

   h1{
      font-size: 2.5em;
   }

   .icon{
      width: 70%;
   }

   header img{
      width: 180px;
      height: 180px;
      margin-right: 10px;
   }
   
   header .introduction{
      display: none;
   }

   header .introduction2{
      display: block;
      font-size: 13px;
   }
   
   .container{
      width: 90%;
   }

   .myself h2{
      font-size: 2.5em;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
   }

   .myself h3{
      font-size: 0.95em;
   }

   .pro h4{
      font-size: 2.5em;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
   }

   .exp h5{
      font-size: 2.5em;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
   }
   
   .pro ul{
      font-size: 0.9em;
   }
   
   .pro li{
      padding: 10px;
   }

   .pro img{
      width: 80px;
   }

   .swiper{
      height: 250px;
   }

   .swiper-slide{
      font-size: 0.9em;
   }

   .toTop{
      width: 35px;
      height: 35px;
   }
   
}

@media screen and (max-width: 390px) {

   h1{
      font-size: 2.2em;
   }

   .icon{
      width: 75%;
   }

   header img{
      width: 150px;
      height: 150px;
      margin-right: 10px;
   }

   header .introduction2{
      font-size: 12px;
   }

   .container{
      width: 90%;
   }

   .myself h2{
      font-size: 2.2em;
   }

   .myself h3{
      font-size: 0.85em;
   }

   .pro h4{
      font-size: 2.2em;
   }

   .exp h5{
      font-size: 2.2em;
   }
   
   .swiper-slide{
      font-size: 0.8em;
   }

}

@media screen and (max-width: 360px) {

   h1{
      font-size: 2em;
   }

   .icon{
      width: 80%;
   }

   header{
      height: 250px;
   }

   .container{
      width: 90%;
   }

   .myself h2{
      font-size: 2em; 
   }

   .myself h3{
      font-size: 0.8em;
   }

   .pro h4{
      font-size: 2em;
   }

   .exp h5{
      font-size: 2em;
   }
   
   .swiper-slide{
      font-size: 0.75em;
   }

}